/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.btn-email {
  color: #fff;
  background-color: #dd4b39;
}

.btn-git{
  color: #fff;
  background-color: #333;
}

.btn-linkedin{
  color: #fff;
  background-color: #0082ca;
}

.carousel-indicators,
.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.carousel-indicators{
  bottom: -20px;
}

.fa-1-5x {
    font-size: 1.5em;
}

.no-indent {
    padding-left: 1em;
}
